---
layout: default
title : Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card_mini.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        {% include widgets/profile_card_bio_only.html %}

        <!-- Debugging widgets -->
        {% include widgets/debug_repo_name.html %}
        {% include widgets/debug_url.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% if site.data.display.homepage.show_news %}
        {% assign count_news = site.news | size %}
        {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
        {% endif %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | sort: "order" %}
        {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-star"></i> Publications'
        %}
        {% endif %}

        {% if site.data.profile.awards %}
        <div class="my-3 p-0 bg-white shadow-sm rounded-xl">
            <h6 class="border-bottom border-gray p-3 mb-0">
                <i class="fas fa-trophy"></i> Honors & Awards
            </h6>
            <div class="p-3">
                {% for item in site.data.profile.awards %}
                <h5 class="mt-0 mb-1 font-weight-normal d-flex">
                    <span>{{ item.name }}</span>
                    <span class="ml-auto no-break"><em>{{ item.date }}</em></span>
                </h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
