{% if site.data.profile.experience %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-briefcase"></i> Internship Experience
    </h6>
    <div class="p-3">
        {% for item in site.data.profile.experience %}
        <div class="mb-2">
            <h5 class="mt-0 mb-1 font-weight-normal d-flex">
                <span>{{ item.company }}, {{ item.dept }}</span>
                <span class="ml-auto no-break"><em>{{ item.date }}</em></span>
            </h5>
            <p class="ml-0 mb-1">{{ item.position }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
